
.collection .heading h2{
    font-size:35px;
    margin-left: 40px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
}
.App {
    align-items: center;
    justify-content: center;
    
  }
  .card-body{
      background-color: white;
  }
  .collection .card-body .card-head{
      font-size: 18px;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-weight: bold;
    background-color: white;
  }
  .collection .card-body .card-text{
    font-size: 15px;
  font-family: "Crimson Text", serif;
  text-align: center;
  background-color: white;
  color: grey;
}
.collection .card img{
  height: 40vh;
  width: 100%;
  margin: 0px;
}