
.season1{
    padding-top: 15vh;
    font-family: "Playfair Display", serif;
}

.season1 .heading .ul{
    margin-top: 2vh;
    border-bottom: 1px solid black;
    width: 10%;
}
.season1 .box1{
    width: 50%; 
    padding-left:  50px; 
}
.season1 .row .box2{
    padding: 0px 100px;
}
.season1 .row .box1{
    padding-right:200px;
}
.season1 .heading h2{ 
    padding-top: 5vh;
    font-size: 32px;
    font-weight: 500;
}
.season1 .row span{
    margin: 2vh;
    font-family: "Crimson Text", serif;
}
.season1 .row span h5{
    font-size: 15px;
}

@media (max-width: 960px) {
    .season1 .row{
        padding:0px  20px;
    }
    .season1 .heading h2{  
        padding:0px  20px;
    }
    .season1 .row .box1{
        padding:0px;
        width: 100%;
        order: 10;
        margin-top: 2vh;
    }
    .season1 .row .box2{
        padding: 0px;
        order: 2;
    }
}