.read {
    margin: 5vh;
    margin-top: 15vh;
    padding-left: 30px;
}
.read .title h2{
    margin-top: 2vh;
 font-family: "Playfair Display", serif;
 font-size: 25px;
}
.read .subtitle {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}
.read  a{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.read .icons{
    font-size: 3rem;
    margin-bottom: 3vh;
}

@media(max-width:960px){
    .read {
        margin-left: 0vh;
        padding-left: 10px;
    }
}